<body class="ms-font-m ms-welcome ms-Fabric">
  <header class="ms-welcome__header ms-bgColor-neutralLighter">
    <script type="text/javascript" src="https://appsforoffice.microsoft.com/lib/1.1/hosted/office.js"></script>
  </header>
  
  <div>
    <select (change)="selectSheet($event)">
      <option value="" disabled selected>Select a sheet</option>
      <option *ngFor="let sheet of sheets" [value]="sheet">{{ sheet }}</option>
    </select>
  </div>
  <dx-button>Import</dx-button>
  <button (click)="getDataByExistingColumns()">Information</button>
</body>